.title {
    height: 180px;
}

.button{
width: 75px;
margin: 20px;
}

body {
    padding: 30px;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}

#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
}

.center {
   display: flex; 
   align-items: center;
   justify-items: center;
   flex-direction: column;
}

.poke {
    width: 280px;
    height: 280px;

}